body {
  min-width: 250px;
  font-family: 'Montserrat', sans-serif;
  color: #373D3F;
}

h2 {
  font-weight: normal;
  text-align: center;
  padding:10px 10px 20px 10px;
  border-bottom: 2px solid #0061ff;
}

h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #373D3F;
}

ul {
  list-style: none;
}

#suggest {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  padding: 5px;
  color:gray;
}

button {
  margin-bottom: 10px;
  background-color: #bcbcbc; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;
}

#suggest a {
  text-decoration:underline;
}

button:focus {
  outline:0;
}
